appnope
asttokens
attrs
beautifulsoup4
certifi
charset-normalizer
comm
debugpy
decorator
et-xmlfile
exceptiongroup
executing
fuzzywuzzy
h11
idna
importlib_metadata
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
Levenshtein
lxml
matplotlib-inline
nest-asyncio
numpy
openpyxl
outcome
packaging
pandas
parso
pexpect
platformdirs
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
PySocks
pytest
python-dateutil
python-Levenshtein
pytz
pyzmq
rapidfuzz
requests
sec-api
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
tomli
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
wsproto
zipp
